<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header%>

        <main>
            <section class="item-details" id="homepage-bookmarks-specifics">
                <!-- Bookmark Details -->
                <div class="bookmark-details">
                    <h2 class="bookmark-title">
                        <%= @title%>
                    </h2>
                    <div class="bookmark-description">
                        <%= @desc%>
                    </div>
                    <div class="detailed-info">
                        <span>Created on <%= @date%> by <%= @displayName%></span>
                    </div>
                    <!-- Editing Buttons. -->
                    <div class="edit-buttons">
                        <img class="edit-button" src="../assets/images/external-page-icon.png" onclick="window.location = 'http:\/\/<%= @link%>'">
                        <img class="edit-button" src="../assets/images/bin-icon.png" onclick="window.location = 'delete-bookmark?bookmarkID=<%= @ID%>'">
                        <img class="edit-button" src="../assets/images/report.png" onclick="window.location = 'report-bookmark?bookmarkID=<%= @ID%>'">
                    </div>
                    <!-- TODO ad adding tags, comments and rating for users-->
                </div>
            </section>
            <button class="back-button" Onclick="history.back()">Back</button> 
        </main>

        <%= erb :footer%>
    </body>

</html>