<html>
    <head>
        <%= erb :head%>
    </head>
      <!-- Site Structure -->

    <body>
    <h1>Profile page</h1>
        <%= erb :header %>

        <main>
            
    

        <div>
             
     <section class='profilepage'>
        <h1>Basic Information</h1>
        <form class= 'formclass' method="get">
            <p>
                Your name: <input type="text" name="name" value="<%=@displayname%>">
             Your email: <input type="text" name="email" value="<%=@email%>">
             Department : <input type="text" name="department " value="<%=@department%>">
              Status : <input type="text" name="status " value="<%=@status%>">
          
          </p>
           
           <input type="submit" />
            </form>
         
        

   
        
        </main>

        <%= erb :footer%>
    </body>

</html>
