<html>

<head>
    <%= erb :head%>

    <head>

        <!-- Site Structure -->

    <body>

        <%= erb :header%>

        <main>
            <section class="central-form" id="frame_container">
                <!-- the action needs to be defined -->
                <form method="post">
                    <div class="login-error-message" id="error_message"><%= @error_msg%></div>
                    <div>
                        <span class="form-label">Display name:</span>
                        <input id="display-name" class="form-input" type="text"
                            placeholder="Enter your preferred name.." value="<%=h @displayName%>" name="displayName">
                    </div>
                    <div>

                        <span class="form-label">Email*:</span>
                        <input id="user-email" class="form-input" type="email" placeholder="Enter your email.."
                            value="<%=h @email%>" name="email" required>
                    </div>
                    <div>
                        <span class="form-label">Confirm email*:</span>
                        <input id="confirm-user-email" class="form-input" type="email"
                            placeholder="Confirm your email.." value="<%=h @email_valid%>" name="email_validation"
                            required>

                    </div>

                    <div>
                        <span class="label-desc" id="password_note">*Note: Password must be at least 8 characters long
                            and contain a number and a special character (#?!@$%^&*-_)</span>
                    </div>

                    <div id="password_inputs"
                        title="Password must be at least 8 characters long and contain a number and a special character (#?!@$%^&*-_)">

                        <span class="form-label">Password*:</span>
                        <input id="user-password" class="form-input" type="password" placeholder="Create a password."
                            name="password" minlength=8 required>
                    </div>

                    <div>
                        <span class="form-label">Confirm password*:</span>

                        <input id="confirm-user-password" class="form-input" type="password"
                            placeholder="Confirm password.." name="password_validation" minlength=8 required>

                    </div>
                    <div>
                        <span class="form-label">Department:</span>
                        <input id="display-name" class="form-input" type="text"
                            placeholder="Enter your preferred name.." name="department">
                    </div>
                    <input id="register-user" class="submission-button" type="submit" value="Create" class="textarea">

                    <!-- Cancel bottom should redirect to the previous page-->
                    <input class="submission-button" type="button" value="Cancel" onclick="history.back()">

                </form>
            </section>
        </main>

        <%= erb :footer%>
    </body>

</html>