<section class="basic-table" id="homepage-bookmarks-table">

    <%results.each do |entry|%>
    <div id="<%= entry[:ID]%>">
        <!-- Bookmark Details -->
        <a class="bookmark-details" href="bookmark-spesifics?bookmarkID=<%=entry[:ID]%>">
            <span class="bookmark-title"><%=h entry[:title]%></span>
            <span class="bookmark-views">Views: <%=h entry[:views]%></span>
            <span class="bookmark-rating">Rating: <%=h entry[:rating]!=0 ? "#{entry[:rating].round(2)}/5.0" : "Not Rated"%></span>
        </a>

        <!-- Editing Buttons. -->
        <div class="edit-buttons">
            <%if UserAuthentication.hasEditRights entry[:ID] , session[:userID]%>
            <a id="delete-button-<%= entry[:ID]%>" href="delete-bookmark?bookmarkID=<%=h entry[:ID]%>"><img
                    class="edit-button" src="assets/images/bin-icon.png"></a>
            <a id="edit-button-<%= entry[:ID]%>" href="edit-bookmark?bookmarkID=<%=h entry[:ID]%>"><img
                    class="edit-button" src="assets/images/edit.png"></a>
            <%end%>

            <img class="edit-button" src="assets/images/external-page-icon.png"
                onclick="openInNewTabAndRecordView('http:\/\/<%=h entry[:link]%>',<%=h entry[:ID]%>)">
            <a id="report-button-<%=entry[:ID]%>" href="report-bookmark?bookmarkID=<%=h entry[:ID]%>"><img
                    class="edit-button" src="assets/images/report.png"></a>
        </div>
    </div>
    <%end%>
</section>