<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <h2>
                <img class="edit-button" src="../assets/images/bin-icon.png" onclick="window.location = '/'">
                Search results for: '<%= erb @searchQuery %>'
            </h2>
            <%= erb :resultsTable, :locals => {:results => @results}%>
        </main>

        <%= erb :footer %>
    </body>

</html>