<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <h3>
                <a id="home-link" href="/"><img class="edit-button" src="../assets/images/bin-icon.png"></a>
                Search results for: '<%=h @searchQuery %>'
            </h3>
            <h4>
                Advanced search: <img class = "edit-button" id="advancedSearch-button" src= "assets/images/plus.png" onclick = "showAdvancedOptions()">
            </h4>

            <section class = "central-form" id="advanced-search-form">
                <form>
                    <%= erb :tagControlOnlyList%>
                    <input type = "hidden" name="search_query" value = <%=h params[:search_query]%>>
                    <input type = "submit" class = "submission-button" value = "Refine Search">
                </form>
            </section>

            <%= erb :resultsTable, :locals => {:results => @results}%>
        </main>

        <%= erb :footer %>
    </body>

</html>