<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
            <section class = "central-form">
                <form>
                    <%= erb :tagControl%>
                    <input class= "submission-button"type="submit" value="GO">
                </form>
            </section>
        </main>

        <%= h @returnedTags%>

        <%= erb :footer %>
    </body>

</html>