<html>
    <head>
        <%= erb :head%>
    <head>
    
    <!-- Site Structure -->
    <body>
        
        <%= erb :header %>

        <main>
        <form>
            <%= erb :tagControl%>
            <input type="submit" value="GO">
        </form>
        </main>

        <%= @returnedTags%>

        <%= erb :footer %>
    </body>

</html>